/* 修復費用計算styleseat */
.header{
background-color: #00bfff;
color: #ffffff;
text-align: center;
}
body {
  background-color: #e0ffff;
  /* フォームをページの中央に置く */
  margin: 0 auto;
  width: 700px;
  /* フォームの範囲がわかるようにする */
  padding: 1em 3em;
  border: 1px solid #CCC;
  border-radius: 1em;
}
.main{
  text-align: center;
}

label {
  /* すべてのラベルを同じサイズにして、きちんと揃える */
  display: inline-block;
  width: 250px;
}
.textbox{
  width: 360px;
  text-align: left;
}
legend {
  width: 360px;
  display: inline-block;
  padding-left: 42px
}
.radio{
  width: 140px;
  display: center;
}
